<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <nav>
        <ul id="logo">
            <li> <a href="#"><img src="TivibuLogo1.png"></a>
        </ul>
        <ul>

            <li> <a href="#">Monitoring</a>
                
            </li>
            <li><a href="#">Nodes-Pods</a>
            </li>
            <li> <a href="#">Admin-Crud</a>  
            </li>
            <li> <a href="#">Settings</a>
            </li>
        </ul>
    </nav>
</body>
</html>